@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(25, 162, 174);
}

.img_bg {
  overflow: hidden;
  position: absolute;
  width: 100vw;
  height: 110vh;
  margin-top: -30vh;
  z-index: -1;
}

#circle_top_box,
#circle_bottom_box {
  position: absolute;
}

#circle_top {
  margin-top: -50vh;
  margin-left: -10vw;
}

#circle_bottom {
  margin-top: 50vh;
  margin-left: 50vw;
}

.card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  max-width: 350px;
  width: 90%;
  margin: 20vh auto 0 auto;
  border-radius: 15px;
  box-shadow: 0px 5px 20px rgba(8, 70, 94, 0.5048);
}

.background_bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img_background {
  border-radius: 15px 15px 0 0;
}

.img_profile {
  width: 6rem;
  height: 6rem;
  border: 5px solid #fff;
  margin: -12.5% auto 0 auto;
  border-radius: 5rem;
}

.info_profile {
  display: flex;
  font-family: "Kumbh Sans", sans-serif;
  flex-direction: column;
  text-align: center;
  margin: 24px 0;
}

.name {
  font-size: 18px;
  color: hsl(229, 23%, 23%);
}

.age {
  font-size: 18px;
  font-weight: 400;
  color: hsl(227, 10%, 46%);
}

.place {
  width: 100%;
  color: hsl(227, 10%, 46%);
  font-size: 14px;
  font-weight: 400;
  margin-top: 0.5rem;
}

.profile_data {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-top: 1px solid hsl(228, 9%, 92%);
  font-family: "Kumbh Sans", sans-serif;
}

.likes_profile {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 24px 0;
}

.likes_profile h2 {
  font-size: 18px;
  font-weight: 700;
  color: #2d3248;
  margin-bottom: 0.5rem;
}

.likes_profile p {
  font-size: 10px;
  letter-spacing: 1.5px;
  color: #6a6f81;
}
